<HTML>
    <BODY bgcolor="white">
    <form method="POST" action="">
        <center>
        <H1> Profil Konsumen </H1> <br>
        nama <input type = "text" name= "nama" /> <br>
        tanggal_lahir <input type = "text" name= "tanggal_lahir" /> <br>
        tempat_tinggal <input type = "text" name= "tempat_tinggal" /> <br>
        jabatan <input type = "text" name= "jabatan" /> <br>
        id <input type = "int" name = "id" /> <br>
        <input type = "submit">
        </center>
    </form>
    </BODY>
    </HTML>